* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body {
  width: 100%;
  height: 100%;
} */
.book {
  /* width: 100%; */
  /* width: 210mm; */
  /* border: dashed black 5px; */
  background-color: #c9caff;
  display: grid;
}
.paper {
  /* border: solid red 1px; */
  width: 210mm;
  height: 297mm;
  /* height: 3508px;
  width: 2480px; */
  margin: auto;
  /* background-image: url(../source/img/a4_bg.svg); */
  background-size: 100%;
  background-position: center;
  overflow: hidden;
}
.bg img {
  width: 100%;
}
.content {
  position: relative;
  top: -297mm;
}

@page {
  size: A4;
  margin: 0mm;
}
@media print {
  .paper {
    width: 210mm;
    height: 297mm;
    background: always;
    page-break-after: always;
    display: grid;
    /* align-items: center; */
    align-self: center;
  }
}
